CONFIG_ION_RXD=3
CONFIG_ION_TXD=1

CONFIG_ION_LIGHT_PIN=17
CONFIG_ION_LIGHT_PIN_INVERTED=n

CONFIG_ION_RELAY_PIN=16
CONFIG_ION_RELAY_PIN_INVERTED=n

CONFIG_ION_CHARGE=y
CONFIG_ION_CHARGE_PIN=34

# Divider: 10k/1k (scale = 11.0)

# The scale of the divider, times 1000
CONFIG_ION_DIVIDER_SCALE=11000

# Consider 21V (3.0V/cell for 7s) empty,battary empty by 33% so 29400-21000%100x33=2772 21000+2772=23772 now 23772 empty if motor enable voltige drop under 21 volt.
CONFIG_ION_ADC_EMPTY_MV=23000

# Consider 29.4V (4.2V/cell for 7s) full, battary full and voltige drop if motor enable 33% so 29400-2772=26628 test with 27500
CONFIG_ION_ADC_FULL_MV=27500
